<!DOCTYPE html>
<html lang="en">
<head
    th:replace="common/template :: head (title='Why the fuck did you unfollow me?')"></head>
<body>
    <div class="container">
        <div th:replace="common/template :: header"></div>

        <div class="jumbotron">
            <h1>Error!</h1>
            <p class="lead">An unknown error occured while processing your request. Click <a href="/">here</a> to go back to the homepage.</p>
        </div>
        <footer th:replace="common/template :: footer"></footer>
    </div>
    <!-- /container -->
</body>
</html>
