<!DOCTYPE html>
<html lang="en">
<head
    th:replace="common/template :: head (title='Why the fuck did you unfollow me?')"></head>
<body>
    <div class="container">
        <div th:replace="common/template :: header"></div>

        <div class="jumbotron">
            <h1>Why The Fuck Did You Unfollow Me?</h1>
            <p class="lead">Find out who unfollowed you on Twitter!
                You will get a direct message everytime someone stops
                following you.</p>
            <form action="/connect/twitter" method="POST">
                <p>
                    <button type="submit" class="btn btn-lg btn-success">Add
                        your twitter account now !</button>
                </p>
            </form>
        </div>

        <footer th:replace="common/template :: footer"></footer>

    </div>
    <!-- /container -->
</body>
</html>
